.wrapper-home {
  @include outer-container;
}

.headshot-home {
  @include span-columns(6);
}


.hero {
  height: 30em;
}

.masthead {
  margin-bottom: 0;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
